.listing-customer {
	max-width: 83.33333%;
    min-width: 300px;
	margin: 0 auto 20px auto;

	.listing-customer {

		&__item .col__content {
			position: relative;
		}
	
		&__image {
			position: relative;
			padding-bottom: 79.69%;
			img {
				position: absolute;
				height: 100%;
				width: 100%;
				object-fit: cover;
				top: 0px;
				left: 0px;
				border-radius: 15px;
			}
		}
		
		&__detail {
			box-sizing: content-box;
			position: absolute;
			width: calc(100% - 40px);
			height: auto;
			margin: 10px;
			bottom: 0px;
			padding: 10px;
			border-radius: 15px;
			backdrop-filter: blur(14px) saturate(32%);
			background-color: rgb(255 255 255 / 75%);
			z-index: 1;
			pointer-events: all;
			cursor: pointer;
			display: inline-block;
			overflow: hidden;
		}

		&__title {
			margin: 0px;
			font-size: 5vw;
			line-height: 7vw;
		}

		&__text {
			font-size: 4vw;
			line-height: 5vw;
			margin-top: 20px;
		}
	
		&__close {
			width: 22px;
			height: 22px;
			opacity: 0;
			background-color: #49725B;
			border-radius: 100%;
			border: 0px;
			cursor: pointer;
			pointer-events: all;
			position: absolute;
			right: 10px;
			top: 10px;
			transition: all 0.5s ease-in-out;
			z-index: 2;

			&::before,
			&::after {
				position: absolute;
				left: 0px;
				right: 0px;
				top: 0px;
				bottom: 0px;
				content: " ";
				height: 12px;
				width: 2px;
				margin: auto;
				background-color: #ffffff;
			}

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}
		}

		&__nav {
            padding: 0;
            width: 100%;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
        }

        &__nav-prev {
            background: #8ABD7D;
            margin-right: -18px;
            width: 60px;
            height: 60px;

            svg {
                transform: rotate(180deg);
                width: 17px;
                height: 17px;
                margin-right: 8px;

                line {
                    stroke: #ffffff;
                }
            }
        }

        &__nav-next {
            background: #49725B;
            width: 77px;
            height: 77px;

            svg {
                fill: #ffffff;
                width: 24px;
                height: 24px;
                margin-right: -4px;

                line {
                    stroke: #ffffff;
                }
            }
        }

        &__nav-prev,
        &__nav-next {
            border: 0;
            border-radius: 50%;
            padding: 0;
            line-height: 0;
            cursor: pointer;
        }
	}
}

body.page--no-touch .listing-customer {

	.listing-customer__item {

		.listing-customer__detail {
			transition: height 1s ease-in-out;
		}

		.listing-customer__overlay {
			transition: max-height 1s ease-in-out;
			overflow: hidden;
			max-height: 0;
		}
	}
	.listing-customer__item:hover {

		.listing-customer__detail {
			height: calc(100% - 40px) !important;
			transition: height 1s ease-in-out;
		}

		.listing-customer__overlay {
			transition: max-height 1s ease-in-out;
			overflow: visible;
			max-height: 999px;
		}
	}
}

body.page--is-touch .listing-customer {

	.listing-customer__item {

		.listing-customer__detail {
			transition: height 1s ease-in-out;
		}

		.listing-customer__overlay {
			transition: max-height 1s ease-in-out;
			overflow: hidden;
			max-height: 0;
		}
	}
	.listing-customer__item.active {

		.listing-customer__detail {
			height: calc(100% - 40px) !important;
			transition: height 1s ease-in-out;
		}

		.listing-customer__overlay {
			transition: max-height 1s ease-in-out;
			overflow: visible;
			max-height: 999px;
		}

		.listing-customer__close {
			opacity: 1;
		}
	}
}

@media screen and (min-width: 481px) {
	.listing-customer {
		min-width: 440px;
		margin: 0 auto 40px auto;

		.listing-customer {

			&__detail {
				padding: 20px;
				width: calc(100% - 60px);
			}
			
			&__title {
				font-size: 20px;
				line-height: 24px;
			}

			&__close {
				right: 20px;
				top: 20px;
			}
			
			&__text {
				font-size: 16px;
				line-height: 24px;
			}
			
			&__button {
				margin: 0px;
			}

            &__nav-prev {    
                margin-right: -14px;
            }
		}
	}

	body.page--no-touch .listing-customer {
		.listing-customer__item:hover {
			.listing-customer__detail {
				height: calc(100% - 60px) !important;
			}
		}
	}
	
	body.page--is-touch .listing-customer {
		.listing-customer__item.active {
			.listing-customer__detail {
				height: calc(100% - 60px) !important;
			}
		}
	}
}

@media screen and (min-width: 769px) {
	.listing-customer {
		min-width: 740px;

		.listing-customer {
            &__nav-next {
                width: 100px;
                height: 100px;

                svg {
                    width: 31px;
                    height: 31px;
                }
            }

            &__nav-prev {
                width: 80px;
                height: 80px;

                svg {
                    width: 21px;
                    height: 21px;
                }
            }
		}
	}
}

@media screen and (min-width: 1025px) {
	.listing-customer {
		min-width: 940px;
        margin: 0 auto 60px auto;

		.listing-customer {

			&__title {
				font-size: 23px;
				line-height: 27px;
			}
			
			&__text {
				font-size: 18px;
				line-height: 28px;
			}

            &__nav-next {    
                width: 112px;
                height: 112px;

                svg {
                    width: 34px;
                    height: 34px;
                }
             }

            &__nav-prev {  
                width: 88px;
                height: 88px;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }
		}
	}
}

@media screen and (min-width: 1401px) {
	.listing-customer {
		min-width: 1340px;
	}
}