.wp-block[data-type="epea-theme/joblisting"] > .listing-job {
  > .row-wrapper > .row > .block-list-appender {
    
    width: calc(100% - 20px);
    margin: 0 0 40px 20px;
    position: relative;

    button {
      box-shadow: inset 0 0 0 1px #007cba;
      color: #007cba;
      margin-top: 20px;
    }
  }  
}

.wp-block[data-type="epea-theme/joblisting"].is-selected > .listing-job {
  > .row-wrapper > .row > .block-list-appender {

    button {
      background: transparent;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      padding: 12px !important;
      box-shadow: inset 0 0 0 1px #007cba;
      color: #007cba;
      margin: 0 0 40px 20px;
    }
  }  
}