.wp-block[data-type="epea-theme/imagebutton"] {
    flex-basis: calc(100% - var(--gap));
    max-width: calc(100% - var(--gap));
    margin: 0 0 var(--gap) var(--gap);

    > .col {
        flex-basis: 100%;
        max-width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 769px) {
    .wp-block[data-type="epea-theme/imagebutton"] {
        flex-basis: calc(50% - var(--gap));
        max-width: calc(50% - var(--gap));
    }
}
