@import "../../../styles/_variable";
.epea-theme-icon-panel .components-popover__content {
  width: 376px;
  max-height: 443px !important;
  overflow: hidden !important;
  overflow-y: auto !important;
  padding: 10px;
  box-sizing: border-box !important;
}
.epea-theme-icon-panel .components-popover__content * {
  box-sizing: border-box !important;
}

.epea-theme-icon-panel .components-popover__content > div {
  height: auto;
}

.epea-theme-icon-panel.is-expanded .components-popover__content {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

ul.epea-theme-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100%;
  max-height: 180px;
  overflow-y: scroll;
}

ul.epea-theme-icon-list li {
  padding: 2px;
  margin: 0;
  transition: all 0.5s ease-in-out;
  &.selectedicon {
    .components-button {
      border-color: #1e1e1e;
    }
  }
}

ul.epea-theme-icon-list li .components-button {
  display: inline-block;
  font-size: 25px;
  width: 50px;
  height: 50px;
  color: #1e1e1e;
  border: 1px solid transparent;
  text-align: center;
  padding: 0;
  outline: 0;
  &:focus {
    box-shadow: unset;
  }
  i {
    font-family: 'IconFont' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

ul.epea-theme-icon-list li .components-button:hover {
  border-color: #1e1e1e;
  color: #1e1e1e !important;
}

.gb--link-control {
  .block-editor-link-control {
    min-width: auto;
  }
}