.button-default {
	text-align: center;
	text-decoration: none;
	border-radius: 50px;
	font-weight: 500;
	font-family: $font-body;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	width: max-content;
	position: relative;
	display: flex;
	margin-top: 10px;
	margin-bottom: 25px;
	cursor: pointer;
	pointer-events: all;
	font-size: 15px;
	line-height: 18px;
	padding: 15px 44px;
	align-items: center;
	flex-direction: row;
	max-width: 100%;
	justify-content: center;
	min-height: 54px;

    &.button {

        &--icon {
			text-align: left;
			border-width: 3px;
			padding: 0 44px 0 0;
			justify-content: flex-start;

			.icon {
				font-size: 28px;
				line-height: 54px;
			}

			.button__helper {
				padding: 10px 0;
			}
		}

        &--style- {
            &one {
                @each $color in $color-set {
                    $color-name: nth($color, 1);
                    $color-value: nth($color, 2);
                    $color-contrast: nth($color, 3); 

                    &.button--color-#{$color-name} {
                        background-color: $color-value;
                        border-color: $color-value;
                        color: $color-contrast;
                    }
                }

                &.button--icon {
					border-width: 3px;
		
					.icon {
						height: 52px;
						min-width: 52px;
						margin: 0 15px 0 0;
					}
				}
            }
            &two {
                @each $color in $color-set {
                    $color-name: nth($color, 1);
                    $color-value: nth($color, 2); 

                    &.button--color-#{$color-name} {
                        background-color: transparent;
                        border-color: $color-value;
                        color: $color-value;
                    }                  
                }

                &.button--icon {
					border-width: 2px;
		
					.icon {
						height: 46px;
						min-width: 46px;
						margin: 0 15px 0 2px;
					}
				}
            }
        }

        &--width- {
            &inline {
                width: max-content;
            }
            &one {
                width: 25%;
            }
            &two {
                width: 50%;
            }
            &three {
                width: 75%;
            }
            &four {
                width: 100%;
            }
        }

        &--align-xs- {
            &left {
                margin-right: auto;
            }
            &center {
                margin-left: auto;
                margin-right: auto;
            }
            &right {
                margin-left: auto;
            }
        }
    }
}

@media screen and (min-width: 481px) {
    .button-default {
        &.button {
            &.button {
                &--align-sm- {
                    &left {
                        margin-right: auto;
                        margin-left: initial;
                    }
                    &center {
                        margin-left: auto;
                        margin-right: auto;
                    }
                    &right {
                        margin-left: auto;
                        margin-right: initial;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .button-default {
        &.button {
            &.button {
                &--align-md- {
                    &left {
                        margin-right: auto;
                        margin-left: initial;
                    }
                    &center {
                        margin-left: auto;
                        margin-right: auto;
                    }
                    &right {
                        margin-left: auto;
                        margin-right: initial;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1025px) {
    .button-default {
        font-size: 18px;
        line-height: 22px;

        .button {
            &.button {
                &--align-lg- {
                    &left {
                        margin-right: auto;
                        margin-left: initial;
                    }
                    &center {
                        margin-left: auto;
                        margin-right: auto;
                    }
                    &right {
                        margin-left: auto;
                        margin-right: initial;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1401px) {
    .button-default {
        .button {
            &.button {
                &--align-xl- {
                    &left {
                        margin-right: auto;
                        margin-left: initial;
                    }
                    &center {
                        margin-left: auto;
                        margin-right: auto;
                    }
                    &right {
                        margin-left: auto;
                        margin-right: initial;
                    }
                }
            }
        }
    }
}