@font-face {
    font-family: 'IconFont';
    src:  url('../../assets/fonts/iconfont.eot?nycly6');
    src:  url('../../assets/fonts/iconfont.eot?nycly6#iefix') format('embedded-opentype'),
          url('../../assets/fonts/iconfont.ttf?nycly6') format('truetype'),
          url('../../assets/fonts/iconfont.woff?nycly6') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

.icon-01-visual:before {
    content: "\e900";
}
.icon-02-materialgesundheit:before {
    content: "\e901";
}
.icon-03-naehrstoff:before {
    content: "\e902";
}
.icon-04-oekonomie:before {
    content: "\e903";
}
.icon-05-biodiversitaet:before {
    content: "\e904";
}
.icon-06-mensch:before {
    content: "\e905";
}
.icon-07-kreislauf:before {
    content: "\e906";
}
.icon-08-luftqualitaet:before {
    content: "\e907";
}
.icon-09-materialbank:before {
    content: "\e908";
}
.icon-10-sonne:before {
    content: "\e909";
}
.icon-11-demontage:before {
    content: "\e90a";
}
.icon-12-diversitaet:before {
    content: "\e90b";
}
.icon-13-gesellschaft:before {
    content: "\e90c";
}
.icon-14-co2-footprint:before {
    content: "\e90d";
}
.icon-15-flexibilitaet:before {
    content: "\e90e";
}
.icon-16-mobilitaet:before {
    content: "\e90f";
}
.icon-17-monitoring:before {
    content: "\e910";
}
.icon-18-klima-umwelt:before {
    content: "\e911";
}
.icon-19-solar:before {
    content: "\e912";
}
.icon-20-material:before {
    content: "\e913";
}
.icon-21-wasser:before {
    content: "\e914";
}
.icon-22-instagram:before {
    content: "\e915";
}
.icon-23-facebook:before {
    content: "\e916";
}
.icon-24-xing:before {
    content: "\e917";
}
.icon-25-kununu:before {
    content: "\e918";
}
.icon-26-twitter:before {
    content: "\e919";
}
.icon-27-linkedin:before {
    content: "\e91a";
}
.icon-28-youtube:before {
    content: "\e91b";
}
.icon-29-building:before {
    content: "\e91c";
}
.icon-30-city:before {
    content: "\e91d";
}
.icon-31-molecular:before {
    content: "\e91e";
}
.icon-32-product:before {
    content: "\e91f";
}
.icon-33-component:before {
    content: "\e920";
}
.icon-34-award:before {
    content: "\e921";
}
.icon-35-news:before {
    content: "\e922";
}
.icon-36-download:before {
    content: "\e923";
}
.icon-37-epea:before {
    content: "\e924";
}
.icon-38-contact:before {
    content: "\e925";
}
.icon-39-file:before {
    content: "\e926";
}
.icon-40-job:before {
    content: "\e927";
}
.icon-41-external:before {
    content: "\e928";
}
.icon-42-web:before {
    content: "\e929";
}
.icon-43-mail:before {
    content: "\e92a";
}
.icon-44-mobile-working:before {
    content: "\e92b";
}
.icon-45-time:before {
    content: "\e92c";
}
.icon-46-bonus:before {
    content: "\e92d";
}
.icon-47-drinks:before {
    content: "\e92e";
}
.icon-48-workstation:before {
    content: "\e92f";
}
.icon-49-training:before {
    content: "\e930";
}
.icon-50-part-time:before {
    content: "\e931";
}
.icon-51-events:before {
    content: "\e932";
}
.icon-52-train:before {
    content: "\e933";
}
.icon-53-child:before {
    content: "\e934";
}
.icon-54-employee:before {
    content: "\e935";
}
.icon-55-holiday:before {
    content: "\e936";
}
.icon-56-pcp:before {
    content: "\e937";
}
.icon-57-bcp:before {
    content: "\e938";
}
.icon-58-mhs:before {
    content: "\e939";
}
.icon-59-tmt:before {
    content: "\e93a";
}
.icon-60-c2c-metrics:before {
    content: "\e93b";
}