.listing-card {
	max-width: 83.33333%;
	min-width: 300px;
	margin: 0 auto 20px auto;

	.listing-card {

		&__item {
			
			.image {
				position: relative;
				padding-bottom: 60%;
				background-color: #e3e3e3;
				border-radius: 15px;
				width: 100%;
				overflow: hidden;
			
				.image__content {
					display: block;
					height: 100%;
					margin: 0;
					position: absolute;
					width: 100%;
				}
			
				img {
					height: 100%;
					-o-object-fit: cover;
					object-fit: cover;
					width: 100%;
				}
			}

			.text {
				margin-bottom: 30px;
			}
		
			.button-default {
				margin-top: auto;
			}
		}
	}
}

@media screen and (min-width: 481px) {
	.listing-card {
		min-width: 440px;
		margin: 0 auto 40px auto;
	}
}

@media screen and (min-width: 769px) {
	.listing-card {
		min-width: 740px;
	}
}

@media screen and (min-width: 1025px) {
	.listing-card {
		min-width: 940px;
		margin: 0 auto 60px auto;
	}
}

@media screen and (min-width: 1401px) {
	.listing-card {
		min-width: 1340px;
	}
}
